.divbox{
    display: flex;
}
.menubtn{
    cursor: pointer;
}
.menu{
    position: absolute;
    background-color: lightblue;
    top: 20px;
    padding: 10px;
}
.banner{
    overflow: hidden;
    position: relative;
}
.banner img{
    object-fit: cover;
    position: absolute;
    top: -100px;
}
